<div class="grid @lg:grid-cols-2 @4xl:grid-cols-3 gap-4 mb-12 md:mb-8">
  <div class="bg-white rounded border border-gray-300 flex items-center justify-center">
    <a href="{{ include.url}}"><img src="{{ include.image }}" alt="{{ include.title }}" class="w-full "></a>
  </div>
  <div class="@4xl:col-span-2">
    <h4 class="text-lg m-0"><a href="{{ include.url}}" class="text-navy hover:text-blue font-bold">{{ include.title }}</a></h4>
    <p class="opacity-80 text-[15px]">{{ include.description }}</p>
    <div class="[&_p]:text-[15px] [&_p]:mt-2 [&_p]:mb-0">
    {{ include.content }}
    </div>
  </div>
</div>