agate==1.14.2
annotated-types==0.7.0
anyio==4.13.0
babel==2.18.0
beautifulsoup4==4.14.3
censusbatchgeocoder==0.1.1
censusgeocode==0.5.3
certifi==2026.2.25
charset-normalizer==3.4.6
distro==1.9.0
duckdb==1.5.1
Fuzzy==1.2.2
fuzzywuzzy==0.18.0
geographiclib==2.1
geopy==2.4.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
isodate==0.7.2
jiter==0.13.0
leather==0.4.1
Levenshtein==0.27.3
lxml==6.0.2
Mako==1.3.10
MarkupSafe==3.0.3
memory-profiler==0.61.0
nameparser==1.1.3
numpy==2.4.3
openai==2.30.0
pandas==3.0.1
parsedatetime==2.6
psutil==7.2.2
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
python-Levenshtein==0.27.3
python-slugify==8.0.4
pytimeparse==1.1.8
RapidFuzz==3.14.3
requests==2.33.0
requests-toolbelt==1.0.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
text-unidecode==1.3
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
