<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head-custom.html %}
  {% seo %}
</head>

<body class="m-0 p-0 flex flex-col md:flex-row">
  {% include header.html %}

  <div id="main-content" class="flex-1 transition-all duration-300">
    <script>
      // Set initial margin based on localStorage to prevent flash of content
      (function() {
        var mainContent = document.getElementById('main-content');
        var isCollapsed = localStorage.getItem('menuCollapsed') === 'true';
        
        if (isCollapsed) {
          mainContent.classList.add('menu-collapsed');
        } else {
          mainContent.classList.add('menu-expanded');
        }
      })();
    </script>
    <main class="@container p-4 xl:p-6 min-h-[calc(100vh-200px)]">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
